.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  position: relative;
}
.close {
  color: rgb(255, 2, 2);
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  background-color: black;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}
body.scroll{
  overflow: hidden;
}